In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../data/ManaBox_Collection.csv")
print(len(df))
df.head(2)

854

,Binder Name,Binder Type,Name,Set code,Set name,Collector number,Foil,Rarity,Quantity,ManaBox ID,Scryfall ID,Purchase price,Misprint,Altered,Condition,Language,Purchase price currency
0,Luposcar,binder,Wind Dancer,7ED,Seventh Edition,113,normal,uncommon,1,32693,314b5efa-c16f-4bcf-beed-bd0d77511a25,0.22,False,False,near_mint,it,EUR
1,Luposcar,binder,Shivan Dragon,7ED,Seventh Edition,218,normal,rare,1,32588,7fec2b71-8fa9-4818-9c4f-5d2dcd2af495,0.62,False,False,near_mint,it,EUR

In [6]:
df["Binder Name"].value_counts()

Binder Name
Luposcar      477
All black     337
Urza Combo     22
Elfo           18
Name: count, dtype: int64

In [19]:
filtered_df = df[df["Binder Name"] == "All black"][["Name", "Set code", "Set name", "Collector number", "Foil", "Purchase price", "Rarity", "Quantity", "Condition", "Language"]]
filtered_df.columns = ["name", "expansion_code", "expansion_name", "collector_number", "foil", "price", "rarity", "quantity", "condition", "language"]
print(len(filtered_df))
filtered_df.head()

337

,name,expansion_code,expansion_name,collector_number,foil,price,rarity,quantity,condition,language
482,"Hidetsugu, Devouring Chaos",NEO,Kamigawa: Neon Dynasty,378,foil,0.75,rare,1,near_mint,en
483,Territory Forge,BIG,The Big Score,15,normal,0.31,mythic,1,near_mint,en
484,Springjack Pasture,EVE,Eventide,179,normal,0.81,rare,1,near_mint,it
485,Steamflogger of the Month,UST,Unstable,94,foil,0.48,rare,1,near_mint,it
486,Burning Sun's Avatar,PXLN,Ixalan Promos,135,foil,0.17,rare,1,near_mint,it

In [22]:
filtered_df.sort_values(by="price", ascending=False).to_csv("cards_filtered.csv", index=False)